################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug
/obj/Debug
/packages
