<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSTSMonitor.VSTSMonitor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="instance" value="dynamicwhitewall"/>
    <add key="project" value="DWW"/>
    <add key="repository" value="DWW"/>

  </appSettings>
  <userSettings>
    <VSTSMonitor.VSTSMonitor>
      <setting name="LastChecked" serializeAs="String">
        <value>1601-01-01</value>
      </setting>
      <setting name="ShowPopup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextToSpeech" serializeAs="String">
        <value>True</value>
      </setting>
    </VSTSMonitor.VSTSMonitor>
  </userSettings>
</configuration>