<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSTSMonitor.PullRequestMonitor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="instance" value="msazure"/>
    <add key="project" value="One"/>
    <add key="repository" value="DWW-Main;DWW-Client;DWW-Tools"/>
    <add key="pollingIntervalSec" value="30"/>
<add key="ignoredReviewers" value="CDP Buddy"/>
  </appSettings>
  <userSettings>
    <VSTSMonitor.PullRequestMonitor>
      <setting name="LastChecked" serializeAs="String">
        <value>1601-01-01</value>
      </setting>
      <setting name="TextToSpeech" serializeAs="String">
        <value>True</value>
      </setting>
    </VSTSMonitor.PullRequestMonitor>
  </userSettings>
</configuration>